.register-form {
    margin: 0 auto;
    width: 50%;
}

.register-form input:not([type='checkbox']) {
    display: block;
    width: 100%;
    height: 50px;
    padding-left: 10px;
    font-size: 18px;
    margin-bottom: 15px;
    border-radius: 0px 8px;
    border-color: rgb(218, 218, 218);
    font-size: 16px;
}

.register-title {
    color: rgb(160, 78, 30);
}

.register-btn {
    background-color: rgb(220, 194, 160);
    color: rgb(27, 39, 212);
}

.register-btn:hover {
    background-color: rgba(160, 78, 30, 0.91);
    color: white;
}